li{display: inline-block; vertical-align: top;}
ul{font-family: arial; align-items: left;
    word-spacing: 65px;font-size: 25px;}
footer {
    bottom:0;
    width:100%;
    box-shadow: 10px -75px 30px #A0BED9 inset;
 }
 nav {box-shadow: 10px -75px 30px #FFFF inset;}

section{color: black; line-height: .3; 
    font-size: 50px; 
    padding-left: 40px; 
    position: relative;
    top: 15%;}

    .heroText p {font-weight: 200;;}
    .heroText .name {font-weight: 500;
    padding-top: 54px}
    .bodyText {font-size: 18px;
    font-weight: lighter;
line-height: 1.5;
position: relative;
max-width: 420px;
}

.titleText {font-size: 20;
margin-top: 100px;
padding-left:00px;}

.heroContainer{background-image: url(../images/hero2.jpg); 
    background-repeat:no-repeat; 
    max-width: 1200px;
    min-width: 1000px;
    /* height: 100vh; */
    width: 100vw;
    background-size: 100%; 
    background-position: 65% 0%;
    /*box-shadow: 0px 0px 60px 80px #FFFF inset;*/
    background-color: white;
    color: black;
}

.CaseBox {display: flex;
flex-wrap: wrap;
width: 100vw;
}

.boxed {width: 450px;
  height: 80px;
  background-color: teal;
  margin-left: 0px;
  justify-content: center;
  position:inherit;
  align-items: center;
  border-radius: 25px 0px 25px 0px;
  display: flex;
  margin-bottom: 40px;
  overflow: hidden
  
  }

    
body {font-family: 'Montserrat', sans-serif;}
.container {margin: 0 auto; max-width: 1035px; 
    vertical-align: middle;
    padding-top:0px;
  	padding-bottom:12px;
    min-height: 25px;
    color: black;}
.containFooter {margin: 0 auto; max-width: 1035px; 
        vertical-align: middle;
        padding-top:10px;
        padding-bottom:10px;
    min-height: 25px;
        background-color: #A0BED9;
        color: white;}
        .containFooter .linkedin {float: right; margin-right: 40px;}

.item1 { grid-area: header; background-image: url(ban.jpg);  
  background-repeat: no-repeat;
  background-size: 90%;
  padding-left: 15px !important;}
.item2 { grid-area: menu; background-image: url(ban.jpg);  
  background-repeat: no-repeat;
  background-size:90%;
  background-position: 0 34%;
  padding-left: 15px !important;}
.item3 { grid-area: main; 
display: flex;
flex-direction: column;
align-items: left;
padding-left: 15px !important;
padding-right: 15px !important;}
.item4 { grid-area: list ;
  font-size: 14px !important;
  background-size: contain;
width: 85%;
padding-left: 15px !important;}

.grid-container {
  display: grid;
  grid-template-areas:
    'menu menu menu header header header'
     'list list list main main main'
    'list list list main main main';
  grid-gap: 10px;
  padding: 0px;
  max-width: 1035px; 
margin: 0 auto;}

.grid-container > div {
  text-align: Left; 
  padding-left: 0px;
  padding-top: 20px;
  font-size: 30px;
}

@media only screen and (max-width: 900px)
{ body
  .grid-container 
  { grid-template-areas:
    'menu'
    'list'
    'header'
     'main';}

}